<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<%= link_to 'Back', blogs_path %>


<h4>comments</h4>
<%= link_to 'Add Comment', new_blog_comment_path(@blog), id: "add_comment", remote: true %>
<div class="comments">
  <% if @blog.comments.any? %>
    <div id="comments">
      <%= render @blog.comments %>
    </div>
  <% else %>
    <p>No comments yet!</p>
  <% end %>
</div>
