<%= form_for [@blog, @comment], remote: true do |f| %>

  <div class="field">
      <%= f.hidden_field :blog_id, value: params[:blog_id] %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
