<p id="notice"><%= notice %></p>

<h2><%= @skill.skill %></h2>

<% @projects.each do |project| %>
  <div class="card">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= project.name %></span>
        <p><%= project.description %></p>
      </div>
      <div class="card-action">
        <a href="<%= project.url %>"> Live Demo </a>
      </div>
    </div>
  </div>
<% end %>
<% if current_user.admin? %>
  <%= link_to 'Add Project', new_project_path, class: 'btn' %>
<% end %>
<%= link_to 'Back', skills_path, class: 'btn blue' %>
