<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @skill.skill %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @skill.rating %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
