<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @skill.skill %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @skill.rating %>
</p>

<% @projects.each do |project| %>
  <li><%= project.name %></li>
<% end %>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
