<%= form_for(id) do |f| %>
  <% if id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(id.errors.count, "error") %> prohibited this id from being saved:</h2>

      <ul>
      <% id.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :second_name %>
    <%= f.text_field :second_name %>
  </div>

  <div class="field">
    <%= f.label :sir_name %>
    <%= f.text_field :sir_name %>
  </div>

  <div class="field">
    <%= f.label :other_name %>
    <%= f.text_field :other_name %>
  </div>

  <div class="field">
    <%= f.label :dob %>
    <%= f.date_select :dob %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_field :bio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
