<!-- <p id="notice"><%= notice %></p> -->

<div class="row">
  <div class="col s6">
    <p>
      Hi, I go by the name <%= @id.first_name %> <%= @id.second_name %> but here and there you will hear <%= @id.other_name %> or <%= @id.sir_name %>.
      I am here to affirm I am the above. Aside from names, my true identity is what I do on a daily basis. Guess we'd say Engineer. Oh! thats what I go
      by around my place work. If you happen to drop by.
    </p>
    <p>My skills.</p>
    <% @skills.each do |skill| %>
      <p><%= skill.skill %></p>
    <% end%>
    <%= link_to 'Add skill', new_skill_path %>
  </div>
  <div class="col s6">
    <%= image_tag('bear') %>
  </div>
</div>
<br>

<%= link_to 'New Id', new_id_path %>
