<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @id.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @id.second_name %>
</p>

<p>
  <strong>Sir name:</strong>
  <%= @id.sir_name %>
</p>

<p>
  <strong>Other name:</strong>
  <%= @id.other_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @id.dob %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @id.bio %>
</p>

<%= link_to 'Edit', edit_id_path(@id) %> |
<%= link_to 'Back', ids_path %>
