<!DOCTYPE html>
<html>
  <head>
    <title>Kiburei|Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Andrew Wachira</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Projects', projects_path %></li>
        <li><%= link_to 'Blog', blogs_path %></li>
        <li><%= link_to 'CV'  %></li>
        <li><%= link_to 'Reach me' %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% end %>
        <% if user_signed_in? && current_user.admin? %>
          <li><%= link_to 'Admin', 'http://localhost:3000/admin' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright Kiburei
        </div>
      </div>
  </footer>
</html>
